In [1]:
import os

In [2]:
class Config:
  MYSQL_HOST = '34.136.184.58'
  MYSQL_PORT = 3306
  MYSQL_USER = os.environ.get('MYSQL_USER')
  MYSQL_PASSWORD = os.environ.get('MYSQL_PASSWORD')
  MYSQL_DB = 'r2de2'
  MYSQL_CHARSET = 'utf8mb4'

# Test print form config
print(Config.MYSQL_PORT)

3306

In [3]:
import pymysql

# Connect to the database
connection = pymysql.connect(host=Config.MYSQL_HOST,
                             port=Config.MYSQL_PORT,
                             user=Config.MYSQL_USER,
                             password=Config.MYSQL_PASSWORD,
                             db=Config.MYSQL_DB,
                             charset=Config.MYSQL_CHARSET,
                             cursorclass=pymysql.cursors.DictCursor)

In [4]:
connection

In [7]:
# list all tables via SQL command show tables
cursor = connection.cursor()
cursor.execute("show tables;")
tables = cursor.fetchall()
cursor.close()
print(tables)

[{'Tables_in_r2de2': 'audible_data'}, {'Tables_in_r2de2': 'audible_transaction'}]

In [8]:
#Get Data From SQL server 
with connection.cursor() as cursor:
    cursor.execute("SELECT * FROM audible_data")
    result_audible_data = cursor.fetchall()

with connection.cursor() as cursor:
    cursor.execute("SELECT * FROM audible_transaction")
    result_audible_transaction = cursor.fetchall()


print("number of result_audible_data: ", len(result_audible_data))
print("number of result_audible_transaction: ", len(result_audible_transaction))

number of result_audible_data:  2269
number of result_audible_transaction:  1998821

In [9]:
import pandas as pd

In [17]:
# Transfer list to DataFrame 
audible_data = pd.DataFrame(result_audible_data)
audible_data.set_index("Book_ID")

,Book Title,Book Subtitle,Book Author,Book Narrator,Audio Runtime,Audiobook_Type,Categories,Rating,Total No. of Ratings,Price
Book_ID,,,,,,,,,,
1,Bamboozled by Jesus,How God Tricked Me into the Life of My Dreams,Yvonne Orji,Yvonne Orji,6 hrs and 31 mins,Unabridged Audiobook,Biographies & Memoirs,5,47.0,$29.65
2,Sixth Realm Part 1,"A LitRPG Fantasy Series (The Ten Realms, Book 6)",Michael Chatfield,Neil Hellegers,13 hrs and 33 mins,Unabridged Audiobook,Science Fiction & Fantasy,4.5,98.0,$24.95
3,Go Tell the Bees That I Am Gone,"Outlander, Book 9",Diana Gabaldon,Davina Porter,27 hrs and 30 mins,Unabridged Audiobook,Science Fiction & Fantasy,None,NaN,$41.99
4,How the Word Is Passed,A Reckoning with the History of Slavery Across...,Clint Smith,Clint Smith,10 hrs and 7 mins,Unabridged Audiobook,History,None,NaN,$29.65
5,The Devil May Dance,A Novel,Jake Tapper,Rob Shapiro,10 hrs and 12 mins,Unabridged Audiobook,"Mystery, Thriller & Suspense",4.5,108.0,$29.65
...,...,...,...,...,...,...,...,...,...,...
2265,Kama Sutra,Become a Master of the Art of Love Making. Tan...,Eva Becker,ChasMandala,3 hrs and 29 mins,Unabridged Audiobook,Erotica,5,203.0,$14.95
2266,Meditación Práctica para Principiantes [Prac...,Una guía para principiantes para aliviar la an...,Taylor Knox,William Ditilio,3 hrs and 14 mins,Unabridged Audiobook,Health & Wellness,5,203.0,$14.95
2267,Forgotten,"The Untold Story of D-day's Black Heroes, at H...",Linda Hervieux,Ron Butler,9 hrs and 33 mins,Unabridged Audiobook,History,4.6,70.0,$24.95
2268,The Missing,None,Daisy Pearce,Karen Cass,10 hrs and 18 mins,Unabridged Audiobook,"Mystery, Thriller & Suspense",4.2,141.0,$30.09
2269,Becoming,None,Michelle Obama,Michelle Obama,19 hrs and 3 mins,Unabridged Audiobook,Biographies & Memoirs,4.9,167195.0,$35.71

In [13]:
# Transfer list to DataFrame 
audible_transaction = pd.DataFrame(result_audible_transaction)
audible_transaction.set_index("book_id")

                  timestamp   user_id                   country
book_id
1584    2021-05-01 00:00:01  ad8eca41                  Portugal
829     2021-05-01 00:00:03  561b26c1  United States of America
1391    2021-05-01 00:00:04  81f149e5                     Japan
1586    2021-05-01 00:00:07  4f218413                    Taiwan
300     2021-05-01 00:00:18  a4066781  United States of America
...                     ...       ...                       ...
600     2021-07-31 23:59:47  72da1411                  Portugal
462     2021-07-31 23:59:48  620c27c8                Montenegro
1656    2021-07-31 23:59:55  84fe88ab  United States of America
522     2021-07-31 23:59:57  fd6cc4fc  United States of America
110     2021-07-31 23:59:59  9f4d5e3b  United States of America

[1998821 rows x 3 columns]

In [14]:
#Join Table audible_transaction & audible_data
transaction = audible_transaction.merge(audible_data, how="left", left_on="book_id", right_on="Book_ID")

In [15]:
transaction

,timestamp,user_id,book_id,country,Book_ID,Book Title,Book Subtitle,Book Author,Book Narrator,Audio Runtime,Audiobook_Type,Categories,Rating,Total No. of Ratings,Price
0,2021-05-01 00:00:01,ad8eca41,1584,Portugal,1584,Sycamore Row,None,John Grisham,Michael Beck,20 hrs and 46 mins,Unabridged Audiobook,"Mystery, Thriller & Suspense",4.6,25863.0,$35.00
1,2021-05-01 00:00:03,561b26c1,829,United States of America,829,The 5 Love Languages of Children,The Secret to Loving Children Effectively,Gary Chapman,Chris Fabry,5 hrs and 48 mins,Unabridged Audiobook,"Relationships, Parenting & Personal Development",4.8,2441.0,$19.59
2,2021-05-01 00:00:04,81f149e5,1391,Japan,1391,The Guardians,A Novel,John Grisham,Michael Beck,11 hrs and 50 mins,Unabridged Audiobook,"Mystery, Thriller & Suspense",4.6,26781.0,$31.50
3,2021-05-01 00:00:07,4f218413,1586,Taiwan,1586,How to Be a 3% Man,None,Corey Wayne,Corey Wayne,7 hrs and 33 mins,Unabridged Audiobook,"Relationships, Parenting & Personal Development",4.8,11459.0,$19.95
4,2021-05-01 00:00:18,a4066781,300,United States of America,300,Napoleon Hill's Outwitting the Devil,The Secret to Freedom and Success,Napoleon Hill,Dan John Miller,5 hrs and 51 mins,Unabridged Audiobook,Business & Careers,4.8,9305.0,$17.49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1998816,2021-07-31 23:59:47,72da1411,600,Portugal,600,The Time of Contempt,"The Witcher, Book 2",Andrzej Sapkowski,Peter Kenny,11 hrs and 55 mins,Unabridged Audiobook,Science Fiction & Fantasy,4.7,14344.0,$25.08
1998817,2021-07-31 23:59:48,620c27c8,462,Montenegro,462,Endurance,Shackleton's Incredible Voyage,Alfred Lansing,Simon Prebble,10 hrs and 20 mins,Unabridged Audiobook,History,4.7,18764.0,$24.95
1998818,2021-07-31 23:59:55,84fe88ab,1656,United States of America,1656,The Spy and the Traitor,The Greatest Espionage Story of the Cold War,Ben Macintyre,John Lee,13 hrs and 20 mins,Unabridged Audiobook,Biographies & Memoirs,4.8,7150.0,$31.95
1998819,2021-07-31 23:59:57,fd6cc4fc,522,United States of America,522,Lilac Girls,A Novel,Martha Hall Kelly,Cassandra Campbell,17 hrs and 30 mins,Unabridged Audiobook,Literature & Fiction,4.7,19401.0,$31.50
1998820,2021-07-31 23:59:59,9f4d5e3b,110,United States of America,110,Unfu*k Yourself,Get Out of Your Head and into Your Life,Gary John Bishop,Gary John Bishop,3 hrs and 24 mins,Unabridged Audiobook,"Relationships, Parenting & Personal Development",4.6,73022.0,$20.52

In [16]:
import requests

In [18]:
#Get data from API 
url = "https://r2de2-workshop-vmftiryt6q-ts.a.run.app/usd_thb_conversion_rate"
r = requests.get(url)
result_conversion_rate = r.json()

In [19]:
result_conversion_rate

{'conversion_rate': {'2021-08-12': 33.084,
  '2021-08-11': 33.145,
  '2021-08-10': 33.46,
  '2021-08-09': 33.464,
  '2021-08-08': 33.395,
  '2021-08-07': 33.422,
  '2021-08-06': 33.45,
  '2021-08-05': 33.263,
  '2021-08-04': 33.137,
  '2021-08-03': 33.022,
  '2021-08-02': 32.957,
  '2021-08-01': 32.895,
  '2021-07-31': 32.887,
  '2021-07-30': 32.887,
  '2021-07-29': 32.87,
  '2021-07-28': 32.82,
  '2021-07-27': 32.937,
  '2021-07-26': 32.929,
  '2021-07-25': 32.94,
  '2021-07-24': 32.963,
  '2021-07-23': 32.928,
  '2021-07-22': 32.887,
  '2021-07-21': 32.857,
  '2021-07-20': 32.829,
  '2021-07-19': 32.854,
  '2021-07-18': 32.807,
  '2021-07-17': 32.795,
  '2021-07-16': 32.783,
  '2021-07-15': 32.686,
  '2021-07-14': 32.605,
  '2021-07-13': 32.654,
  '2021-07-12': 32.664,
  '2021-07-11': 32.506,
  '2021-07-10': 32.482,
  '2021-07-09': 32.512,
  '2021-07-08': 32.534,
  '2021-07-07': 32.334,
  '2021-07-06': 32.271,
  '2021-07-05': 32.112,
  '2021-07-04': 32.136,
  '2021-07-03': 32.125,
  '2021-07-02': 32.126,
  '2021-07-01': 32.073,
  '2021-06-30': 32.029,
  '2021-06-29': 32.108,
  '2021-06-28': 31.918,
  '2021-06-27': 31.785,
  '2021-06-26': 31.816,
  '2021-06-25': 31.816,
  '2021-06-24': 31.898,
  '2021-06-23': 31.825,
  '2021-06-22': 31.681,
  '2021-06-21': 31.617,
  '2021-06-20': 31.461,
  '2021-06-19': 31.437,
  '2021-06-18': 31.439,
  '2021-06-17': 31.422,
  '2021-06-16': 31.297,
  '2021-06-15': 31.162,
  '2021-06-14': 31.117,
  '2021-06-13': 31.077,
  '2021-06-12': 31.074,
  '2021-06-11': 31.092,
  '2021-06-10': 31.14,
  '2021-06-09': 31.167,
  '2021-06-08': 31.202,
  '2021-06-07': 31.176,
  '2021-06-06': 31.133,
  '2021-06-05': 31.125,
  '2021-06-04': 31.125,
  '2021-06-03': 31.209,
  '2021-06-02': 31.108,
  '2021-06-01': 31.169,
  '2021-05-31': 31.193,
  '2021-05-30': 31.238,
  '2021-05-29': 31.252,
  '2021-05-28': 31.257,
  '2021-05-27': 31.297,
  '2021-05-26': 31.281,
  '2021-05-25': 31.328,
  '2021-05-24': 31.323,
  '2021-05-23': 31.37,
  '2021-05-22': 31.361,
  '2021-05-21': 31.361,
  '2021-05-20': 31.378,
  '2021-05-19': 31.413,
  '2021-05-18': 31.42,
  '2021-05-17': 31.492,
  '2021-05-16': 31.365,
  '2021-05-15': 31.33,
  '2021-05-14': 31.33,
  '2021-05-13': 31.344,
  '2021-05-12': 31.304,
  '2021-05-11': 31.158,
  '2021-05-10': 31.107,
  '2021-05-09': 31.033,
  '2021-05-08': 31.042,
  '2021-05-07': 31.042,
  '2021-05-06': 31.226,
  '2021-05-05': 31.13,
  '2021-05-04': 31.188,
  '2021-05-03': 31.132,
  '2021-05-02': 31.122,
  '2021-05-01': 31.14,
  '2021-04-30': 31.139,
  '2021-04-29': 31.197,
  '2021-04-28': 31.344,
  '2021-04-27': 31.355,
  '2021-04-26': 31.427,
  '2021-04-25': 31.421,
  '2021-04-24': 31.411,
  '2021-04-23': 31.412,
  '2021-04-22': 31.378,
  '2021-04-21': 31.3,
  '2021-04-20': 31.281,
  '2021-04-19': 31.203,
  '2021-04-18': 31.226,
  '2021-04-17': 31.204,
  '2021-04-16': 31.203,
  '2021-04-15': 31.165,
  '2021-04-14': 31.329,
  '2021-04-13': 31.496,
  '2021-04-12': 31.482,
  '2021-04-11': 31.462,
  '2021-04-10': 31.454,
  '2021-04-09': 31.451,
  '2021-04-08': 31.433,
  '2021-04-07': 31.387,
  '2021-04-06': 31.288,
  '2021-04-05': 31.342,
  '2021-04-04': 31.244,
  '2021-04-03': 31.256,
  '2021-04-02': 31.29,
  '2021-04-01': 31.194}}

In [20]:
#check Type of Conversion_rate data 
print(type(result_conversion_rate))
assert isinstance(result_conversion_rate, dict)

<class 'dict'>

In [21]:
# covert to Dataframe
conversion_rate = pd.DataFrame(result_conversion_rate)

In [22]:
conversion_rate

            conversion_rate
2021-04-01           31.194
2021-04-02           31.290
2021-04-03           31.256
2021-04-04           31.244
2021-04-05           31.342
...                     ...
2021-08-08           33.395
2021-08-09           33.464
2021-08-10           33.460
2021-08-11           33.145
2021-08-12           33.084

[134 rows x 1 columns]

In [24]:
#Rename index to date 
conversion_rate = conversion_rate.reset_index().rename(columns={"index": "date"})